<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link rel="stylesheet" href="/css/auth.css"/>
</head>
<body>
    
    <main>
        <div class="auth_box">
            <h2>Create an account</h2>
    
            <form class="auth_field">
                <input placeholder="username"/>
                <input type="email" placeholder="email"/>
                <input type="" placeholder="password" />
                <input type="submit" value="Proceed" />
            </form> 

        </div>
    </main>

</body>
</html>