<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link rel="stylesheet" href="css/auth.css"/>
    <script type="module" src="auth.cjs"></script>
</head>
<body>
    
    <main>
        <div class="auth_box">
            <h2>Create an account</h2>
    
            <form class="auth_field" method="POST">
                <input placeholder="username" name="username" value="<%= locals.username %>"/>
                <input type="email" name="email" placeholder="email" value="<%= locals.email %>"/>
                <input type="" name="password" placeholder="password"/>
                <input type="submit" value="Proceed" />
            </form> 

        </div>

        <div class="go_back">
            <p>Already have an account?</p>
            <a href="/">Log in</a>
        </div>

    </main>

</body>
</html>