<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" href="/css/account.css">
</head>
<body>

    <div class="background"></div>

    <%- include('../Menu/menu.ejs') %>

    <div class="account">

        <div class='credientials'>
            <p>username:</p>
            <h3><%- locals.user.username %></h3>
        </div>

        <div class='credientials'>
            <p>email:</p>
            <h3><%- locals.user.email %></h3>
        </div>

        <div class="credientials">
            <a href="/edit_account">Edit account</a>
        </div>
        
        <h4>Your posts</h4>
        
        <div class='posts'>

            <% var posts = locals.userPosts %>
            <% posts.forEach(function(post){ %>
                <%- include('../Post/post.ejs', {post: post}); %>
            <% }); %>
        </div>

        <form method="post">
            <input type="submit" value="Log out"/>
        </form>
    </div>


</body>
</html>