<head>
    <link rel="stylesheet" href="/css/post.css">
</head>

<div class="post">
    <div class="user">
        <h5><%= post.username %></h5>
    </div>
    <img src="<%= post.image %>">
    <hr>
    <div class="description">
        <p><%= post.description %></p>
    </div>
</div>