
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.background{
    background: linear-gradient(var(--background_primary), var(--background_secondary));
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}


.add_post{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;
}

@media(max-width:480px){
    .add_post{
        margin-top: 20px;
    }
}

.add_post form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_post form input{
    border-radius: 10px;
    padding: 10px;
}

.add_post textarea{
    border: 0px;
    resize: none;
    width: 250px;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.add_post textarea:focus{
    outline: 1px solid var(--accent_secondary);
}

.inputFile{
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: var(--accent_primary);
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputFile:hover{
    background-color: var(--accent_secondary);
}

.inputFile img{
    aspect-ratio: 1/1;
    width: 2rem;
}

body > div.add_post > form > div > input[type=file]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

body > div.add_post > form > input[type=submit]{
    background-color: var(--accent_primary);
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    border: 0px;
    margin-top: 30px;
    font-size: 1.2rem;
    color: var(--white);
}

body > div.add_post > form > input[type=submit]:hover{
    background-color: var(--accent_secondary);
}


