:root{
    --background_primary:#1c1c1d;
    --background_secondary:#151617;
    --accent_primary:#7c7c7c;
    --accent_secondary:#cd9e75;
    --white:#dfdfdf;
    --menu_background:#040305;
    --post_background:#111114;
}

body{
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 100%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background_primary);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--menu_background);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--menu_background)
  }