
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background: linear-gradient(var(--background_primary), var(--background_secondary)); */
}

* {
    margin: 0;
    padding: 0;
}

.background{
    background: linear-gradient(var(--background_primary), var(--background_secondary));
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vw;
}

.change_username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.change_username label{
    color:var(--white);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#username{
    border: 0px;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1rem;
}    

body > div.edit > form > input[type=submit]:nth-child(3){
    border: 0px;
    border-radius: 10px;
    background-color: color(--white);
    font-weight: 600;
    min-width: 10vw;
    height: 5vh;
    font-size: 1.2rem;
}

body > div.edit > form > input[type=submit]:nth-child(3):hover{
    background-color: var(--accent_secondary);
    cursor: pointer;
}

#username:hover{
    outline: 3px solid var(--accent_secondary);
}




.inputFile{
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: var(--accent_primary);
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 5vh;
}

.inputFile:hover{
    background-color: var(--accent_secondary);
}

.inputFile img{
    aspect-ratio: 1/1;
    width: 2rem;
    margin: 10px;
}

#file{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

body > div.edit > form > div.change_profile_picture > img{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 10vw;

}

.change_profile_picture{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width:480px){
    .edit{
        margin-top: 50%;
    }
    body > div.edit > form > div.change_profile_picture > img{
        width: 100px;
    }
}