
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background: linear-gradient(var(--background_primary), var(--background_secondary)); */
}

* {
    margin: 0;
    padding: 0;
}

.background{
    background: linear-gradient(var(--background_primary), var(--background_secondary));
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vw;
}

.change_username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.change_username label{
    color:var(--white);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}



#username{
    border: 0px;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1rem;
}    

body > div.edit > form > input[type=submit]:nth-child(2){
    border: 0px;
    border-radius: 10px;
    background-color: color(--white);
    font-weight: 600;
    min-width: 10vw;
    height: 5vh;
    font-size: 1.2rem;
}

body > div.edit > form > input[type=submit]:nth-child(2):hover{
    background-color: var(--accent_secondary);
    cursor: pointer;
}

@media(max-width:480px){
    .edit{
        margin-top: 50%;
    }
}