
nav{
    background:linear-gradient(var(--menu_background), var(--menu_background), var(--background_primary));
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 5px;
    position: sticky;
    top: 0px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    color: var(--white);
}

.logo img{
    aspect-ratio: 1/1;
    width: 50px;
    filter: invert(100%);
}

.search{
    padding: 20px;
}

.links button{
    display: none;
}

.links ul{
    display: flex;
    gap: 40px;
    align-items:center;
    margin: 0 20px;
    justify-content: end;
    padding: 20px;
}

.links ul li{
    list-style-type: none;
    font-size: 1.5rem;
    color: var(--white);
}

.links ul li a{
    text-decoration: none;
    color: var(--white);
    margin: 10px;
}

.links ul li a:hover{
    color:var(--accent_secondary);
}

.search a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--background_secondary);
    border-radius: 15px;
    padding: 10px;
    border: 1px solid var(--accent_secondary);
}

.search a:hover{ 
    background-color:var(--accent_secondary);
    border: 1px solid var(--white);
}

.search input{
    min-width: 15vw;
    height: 35px;
    border-radius: 10px;
    padding: 0px 10px;
    border: 0px;
    cursor: pointer;
}

.search input:focus, .search input:hover{
    outline: 3px solid var(--accent_secondary);
}


