.post{
    background-color: var(--post_background);
    display:grid;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    margin:30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--white);
}

.post .user{
    display: flex;
    justify-content: flex-start;
    padding: 0px 5px 5px 0px;
    align-items: center;
    gap: 5px;
}

.user a{
    text-align: left;
    text-decoration: none;
    font-weight:600;
    font-size: 1.2rem;
    margin:10px;
    color:var(--white)
}

.user a:hover{
    color:var(--accent_secondary)
}

.post img{
    aspect-ratio: 1/1;
    width: 450px;
    border-radius: 5px;
}

.post hr{
    width: 100%;
    border: solid 1.5px var(--background_primary);
    margin-top: 10px;
}

.post p{
    font-size: 1.1rem;
    padding: 5px;
}

.post #profile{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
}

@media(max-width:480px){
    .post img{
        width:300px;
    }
}