
body{
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: hidden  ;
}

.background{
    background: linear-gradient(var(--background_primary), var(--background_secondary));
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

* {
    margin: 0;
    padding: 0;
}

.sign_in_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 14px;
}


.sign_in_box h2{
    color: var(--white);
}


main form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 15px;
}

body > main > div > form > input[type=submit]:nth-child(3){
    margin: 20px;
    background-color: var(--white);
}

body > main > div > form > input[type=submit]:hover{
    background-color: var(--accent_secondary);
}

main form input{
    min-width: 15vw;
    height: 5vh;
    border-radius: 10px;
    padding: 0px 10px;
    border: 0px;
    cursor: pointer;
    background-color: var(--white);
}

main form input:focus, main form input:hover{
    outline: 3px solid var(--accent_secondary);
}

input, select, textarea{
    color: var(--background_primary);
    font-weight: 600;
}

.choose_an_alternative{
    display: flex;
    gap: 20px;
}

.choose_an_alternative > hr {
    border: solid 1px var(--white);
    margin: 10px;
    width: 5vw;
}

.choose_an_alternative > h3{
    color: var(--white);
    font-weight:100;
}

.create_account a{
    color: var(--accent_secondary);
    text-decoration: none;
}

.create_account a:hover{
    color: var(--white);
}

@media(max-width:480px){
    .sign_in_box form input{
        min-width: 200px;
        height: 2.5rem;
    }

    .choose_an_alternative > hr {
        border: solid 1.5px var(--white);
    }
}