body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background_primary);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--menu_background);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--menu_background)
  }

* {
    margin: 0;
    padding: 0;
}

.background{
    background: linear-gradient(var(--background_primary), var(--background_secondary));
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.posts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user h4{
    font-size: 1.3rem;
    color: var(--accent_secondary);
}

.user #profile_picture{
  aspect-ratio: 1/1;
  width: 150px;
  border-radius: 50%;
}
