<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/css/colors.css">
    <!-- <script>
       
          const exit = setTimeout(() => {
                const oldURL = document.location.split('/').at(0);
                document.location.replace = oldURL + '/main';
            }, 3000);
    </script> -->
</head>
<body>
    
    <div class="background"></div>

    <%- include('../../Menu/menu.ejs') %>

    <main>
        <h1>No file to view here!</h1>
        <div class="ball"></div>
    </main>



</body>
</html>