<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="css/colors.css">
</head>
<body>

    <div class="background"></div>

    <%- include('../Menu/menu.ejs') %>

    <div class="user">
        <img id="profile_picture" src=<%= locals.user.profile_picture %> >
        <h4><%- locals.user.username  %></h4>
    </div>

    <div class='posts'>


        <% var posts = locals.userPosts %>
        <% var ids = locals.ids %>
        
        <% if(posts.length){ %>
            <% for(let i=0; i<posts.length; i++) { %>
            <%- include('../Post/post.ejs', {post: posts[i], id:ids[i]}); %>
            <% } %>
        <% } else { %>
            <h4> No post yet! </h4>
        <% } %>
        
          
    </div>
    
</body>
</html>