<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signin.css" type="text/css">
    <link rel="stylesheet" href="css/colors.css">
    <title>SignIn</title>
    <link rel="icon" type="image/x-icon" href="/logo.png">
</head>
<body>
<main>

    <div class="background"></div>

    <div class="sign_in_box">
        <h2>Social name app</h2>

        <form class="sign_in_field" method="POST">
            <input type="email" name='email' placeholder="email" value="<% locals.email %>"/>
            <input type="password" name="password" placeholder="password" value="<% locals.password %>"/>
            <input type="submit" value="Log In" />
        </form> 

        <div class="choose_an_alternative">
            <hr/>
            <h3>or</h3>
            <hr/>
        </div>

        <div class='create_account'>
            <a href="/auth" >Create an account</a>
        </div>  
    </div>
</main>
    
</body>
</html>