<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add post</title>
    <link rel="stylesheet" href="css/add_post.css">

</head>
<body>
    <div class="add_post">


        <%- include('../Post/post.ejs', {post: {}}); %>
    

        <form method="POST" enctype="multipart/form-data">
            <input name="username" placeholder="username" required/>
            <input type="file" name="image" placeholder="image" required/>
            <textarea name="description" placeholder="description" required></textarea>
            <input type="submit"/>
        </form>

    </main>
    
</body>
</html>