<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add post</title>
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" href="css/add_post.css">
    <link rel="stylesheet" href="css/colors.css">
    <script src="scripts/add_post.js" defer></script>   
</head>
<body>



    <div class="background"></div>

    <div class="add_post">

        
        <%- include('../Menu/menu.ejs') %>
        
        <%- include('../Post/post.ejs', {post: {username:'username', image:'image.png', description:'description'}}); %>
    

       <form method="POST" enctype="multipart/form-data">
            <!-- <input name="username" placeholder="username" required/> -->
            <div class="inputFile">
                <input type="file" id='file' name="image" placeholder="image" accept="image/png, image/gif, image/jpeg, image/jpg"required/>
                <label name='image_label'for="file">Choose a file</label>
                <img src="upload.png">
            </div>
            <textarea name="description" placeholder="description..." maxlength="51" required></textarea>
            <input type="submit" value="Post"/>
        </form>

    </main>
    
</body>
</html>